apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-frontend-dep
  # Notice: No namespace: project here.
  # Kustomize will inject the correct one based on the branch.
spec:
  replicas: 1
  selector:
    matchLabels:
      app: todo-frontend
  template:
    metadata:
      labels:
        app: todo-frontend
    spec:
      containers:
        - name: todo-frontend
          image: todo-frontend-image # This matches 'kustomize_patch_name' in your workflow
          ports:
            - containerPort: 80
          env:
            # If your frontend needs to talk to the backend,
            # ensure it points to the service in the same namespace
            - name: REACT_APP_BACKEND_URL
              value: "http://todo-backend-svc"
