name: Release Backend

on:
  push:
    branches:
      - "**"
    paths:
      - "todo-backend/**"
      - "kustomization.yaml"

jobs:
  call-deploy:
    uses: ./.github/workflows/deploy-template.yaml
    with:
      image_name: todo-backend
      deployment_name: todo-backend-dep
      directory: todo-backend
      kustomize_patch_name: todo-backend-image
    secrets: inherit
