name: Release Backend
on:
  push:
    branches: [main]
    paths: ["todo-backend/**", "kustomization.yaml"]

jobs:
  call-deploy:
    uses: ./.github/workflows/deploy-template.yaml
    with:
      image_name: todo-backend
      deployment_name: todo-backend-dep
      directory: todo-backend
      kustomize_patch_name: todo-backend-image
    secrets:
      GKE_PROJECT: ${{ secrets.GKE_PROJECT }}
      GKE_SA_KEY: ${{ secrets.GKE_SA_KEY }}
