name: Release Backend

on:
  push:
    branches:
      - main
    paths:
      - "todo-backend/**"
  pull_request:
    types: [opened] # Trigger BOTH when the PR is first created
  pull_request_target:
    types: [synchronize]
    paths:
      - "todo-backend/**"
  workflow_dispatch:

jobs:
  call-deploy:
    uses: ./.github/workflows/deploy-template.yaml
    with:
      image_name: todo-backend
      deployment_name: todo-backend-dep
      directory: todo-backend
      kustomize_patch_name: todo-backend-image
    secrets: inherit
