name: Release Backend

on:
  push:
    branches:
      - main
    paths:
      - "todo-backend/**" # Only triggers if files in this folder change
      - "kustomization.yaml" # Also trigger if we change the root config

env:
  # ... (Keep your existing env variables here) ...
  IMAGE: todo-backend
  SERVICE: todo-backend-dep

jobs:
  build-publish-deploy:
    runs-on: ubuntu-latest
    environment: dev
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # ... (Auth, Cloud SDK, and GKE Credential steps same as before) ...

      - name: Build and Publish Backend
        run: |-
          TAG="$REGISTRY/$PROJECT_ID/$REPOSITORY/$IMAGE:$BRANCH-$GITHUB_SHA"
          docker build -t $TAG ./todo-backend
          docker push $TAG
          echo "TAG=$TAG" >> $GITHUB_ENV

      - name: Deploy Backend
        run: |-
          # Notice we only update the backend image here
          kustomize edit set image todo-backend-image=$TAG
          kustomize build . | kubectl apply -f -
          kubectl rollout status deployment/$SERVICE -n project
