name: Reusable Deploy

on:
  workflow_call:
    inputs:
      image_name:
        required: true
        type: string
      deployment_name:
        required: true
        type: string
      directory:
        required: true
        type: string
      kustomize_patch_name:
        required: true
        type: string

jobs:
  build-publish-deploy:
    runs-on: ubuntu-latest
    # This must be here to access Environment Secrets
    environment: dev

    env:
      GKE_CLUSTER: dwk-cluster
      GKE_ZONE: europe-north1-b
      REGISTRY: europe-north1-docker.pkg.dev
      REPOSITORY: my-repository
      PROJECT_ID: ${{ secrets.GKE_PROJECT }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: "${{ secrets.GKE_SA_KEY }}"

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v2

      - name: Get GKE credentials
        uses: google-github-actions/get-gke-credentials@v2
        with:
          cluster_name: "${{ env.GKE_CLUSTER }}"
          project_id: "${{ env.PROJECT_ID }}"
          location: "${{ env.GKE_ZONE }}"

      - name: Configure Docker
        run: gcloud auth configure-docker "$REGISTRY"

      - name: Build and Publish
        run: |-
          TAG="$REGISTRY/$PROJECT_ID/$REPOSITORY/${{ inputs.image_name }}:${{ github.ref_name }}-$GITHUB_SHA"
          docker build -t $TAG ./${{ inputs.directory }}
          docker push $TAG
          echo "TAG=$TAG" >> $GITHUB_ENV

      - name: Set up Kustomize
        uses: imranismail/setup-kustomize@v2.1.0

      - name: Deploy
        run: |-
          # Update the image in kustomization.yaml using the provided patch name
          kustomize edit set image ${{ inputs.kustomize_patch_name }}=$TAG

          # Build and apply
          kustomize build . | kubectl apply -f -

          # Verify the rollout in the project namespace
          kubectl rollout status deployment/${{ inputs.deployment_name }} -n project
