name: Release Frontend
on:
  push:
    branches: [main]
    paths: ["todo-frontend/**", "kustomization.yaml"]

jobs:
  call-deploy:
    uses: ./.github/workflows/reusable-deploy.yaml
    with:
      image_name: todo-frontend
      deployment_name: todo-frontend-dep
      directory: todo-frontend
      kustomize_patch_name: todo-frontend-image
    secrets:
      GKE_PROJECT: ${{ secrets.GKE_PROJECT }}
      GKE_SA_KEY: ${{ secrets.GKE_SA_KEY }}
