name: Release Frontend

on:
  push:
    branches:
      - main
    paths:
      - "todo-frontend/**"
      - "kustomization.yaml"

jobs:
  call-deploy:
    # Updated to your specific filename
    uses: ./.github/workflows/deploy-template.yaml
    with:
      image_name: todo-frontend
      deployment_name: todo-frontend-dep
      directory: todo-frontend
      kustomize_patch_name: todo-frontend-image
    secrets: inherit
