name: Release Frontend

on:
  push:
    branches:
      - main
    paths:
      - "todo-frontend/**"
  pull_request:
    types: [opened] # Trigger BOTH when the PR is first created
  # This second pull_request trigger handles updates ONLY for this folder
  pull_request_target: # Using this or standard PR with paths
    types: [synchronize]
    paths:
      - "todo-frontend/**"
  workflow_dispatch:

jobs:
  call-deploy:
    uses: ./.github/workflows/deploy-template.yaml
    with:
      image_name: todo-frontend
      deployment_name: todo-frontend-dep
      directory: todo-frontend
      kustomize_patch_name: todo-frontend-image
    secrets: inherit
